<!DOCTYPE html>
<html>
   <head>
 {{>sitehead}}
    <title>Weather</title>
   </head>
   <body>
       <div class="mainbody">
       {{>header}}
       <p>{{>404}}</p>
</div>


    <div>
           {{>footer}}
    </div>
      
   </body>
</html>