<!DOCTYPE html>
<html>
   <head>
 {{>sitehead}}
    <title>{{title}}</title>
   </head>
   <body>
        <div class="mainbody">
       {{>header}}
       <img class="profile" src="/img/pb.jpg" alt="Pradeep">
    </div>
    <div>
           {{>footer}}
    </div>
   </body>
</html>