<!DOCTYPE html>
<html>
   <head>
 {{>sitehead}}
    <title>{{title}}</title>
   </head>
   <body>
      <div class="mainbody">
           {{>header}}
         {{content}}
         </div>
  
    <div>
           {{>footer}}
    </div>
   </body>
</html>